cronJobs:
  cronjob-run-action:
    schedule: "0 */6 * * *" # every 6 hours
    image: env-test/myproject-api:production-5a35bdb # 2022-06-15T07:00:00Z https://circleci.com/gh/env-test/myproject-api/6
    cmd: "node ./tasks/runAction.js"

jobs: {}

env:
  normal:
    PROJECT_ENV: "production"
